
#corpo {display: block;position: relative;margin: 0 auto; width: 100%;max-width: 1600px;box-sizing: border-box; padding: 0; font-family: 'Open Sans', sans-serif; color: #000000;overflow: hidden; background:#FFFFFF; text-align: center;}
/* TEXTO TOPO */
#corpo .texto-topo{ text-align: center; }
#corpo .texto-topo img{ width:44%; margin-top:5%; }
#corpo .texto-topo P { font-size:2.2vw; width:36%; margin:2% auto 4%; }

#corpo .text-fast-top h3{ font-size:2.2vw; font-weight:700; margin-bottom:3%; }
#corpo .text-fast-top p{ font-size:2vw; width:74%; margin:2% auto; }
#corpo .text-fast-top .texto-chamada-topo {width:70%; margin-top:5%;}
/* TITULO SEÇÃO DE SERVIÇOS */
.titulo-section-servicos h3{
  font-size: 2.2vw;
  font-weight: 400;
  margin: 6% 0 5%;
}
/* SEÇÃO DE SERVIÇOS*/
#corpo .lp_01::before { padding-top: 65.0625%; }

#corpo .banner_servico{
  display:flex;
  flex-direction:column;
  width:90%;
  margin: 0 auto 10%;
}
#corpo .banner_servico .servico{
  display:flex;
}
#corpo .banner_servico picture{
  width:85%;
  margin-right:0%
}
#corpo .texto-servico{
  text-align:left;
  width:85%;
  margin: -3% 0% 0 5%;
}
#corpo .banner_servico .servico .texto-servico h2{
  font-size:3vw;
}
#corpo .banner_servico .servico .texto-servico h3{
    font-size: 2.2vw;
    width: 101%;
    font-weight: 400;
}
#corpo .banner_servico .servico .texto-servico p{
  font-size:2vw;
  width:101%;
}
#corpo .banner_servico .servico .texto-servico button{
    display: block;
     width: 45%;
     margin-top:6%;
     border: none;
     outline: none;
     border: 1px solid #111111;
     padding: 6% 0%;
     border-radius:999px;
     background:transparent;
     font-size:2vw;
}
/* AJUSTE DE LINHAS HR */
hr:nth-of-type(1){
  margin: -14% 0 14%;
}
hr:nth-of-type(2){
  margin: -2% 0 14%;
}
hr:nth-of-type(3){
  margin: 15% 0 12%;
}
hr:nth-of-type(4){
  margin: 12% 0 13%;
}
hr:nth-of-type(5){
  margin: 16% 0 14%;
}
/* lp_02 usado para as seções com imagem a direita*/
#corpo .lp_02::before { padding-top: 69.0625%; }
#corpo .lp_02 .texto-servico {
    text-align: left;
    width: 85%;
    margin: -3% 5% 0 0%;
}
#corpo .lp_02  .texto-servico p{
  margin-bottom:23%;
}
/* SEÇAO DE ORIENTAÇÃO */
#corpo .banner_servico .servico .orientacao h2{
  width:84%;
}
#corpo .banner_servico .servico .orientacao h3{
  margin-bottom:13%;
}
#corpo .banner_servico .servico .orientacao button{margin-top:29% }

/* SEÇAO DE SEGURO */
#corpo .banner_servico .servico .seguro h2{
  width:72%;
}
#corpo .banner_servico .servico .seguro h3{margin-bottom:9%}
#corpo .banner_servico .servico .seguro button{margin-top: -8%}
/* SEÇAO DE GARATIA ESTENDIDA */
#corpo .banner_servico .servico .garantia h2{
  width:101%;
}
#corpo .banner_servico .servico .garantia h3{margin-bottom:9%;}
#corpo .banner_servico .servico .garantia button{margin-top:12% }
/* SEÇAO SUPORTE TECNICO*/
#corpo .banner_servico .servico .suporte h2{width:78%;}
#corpo .banner_servico .servico .suporte h3{margin-bottom:8}
#corpo .banner_servico .servico .suporte button{margin-top:-10% }
/* SEÇAO CASA INTELIGENTE*/
#corpo .banner_servico .servico .casa h2{width:78%;}
#corpo .banner_servico .servico .casa h3{margin:10% auto 14%}
#corpo .banner_servico .servico .casa button{margin-top:25% }

/* SEÇÃO DE GRUPO DE ARTISTA */
#corpo .grupo-artista::before{ padding-top: 56.0625%; }
#corpo .texto-sobre-artistas{margin:7% auto;}
#corpo .texto-sobre-artistas h3,
#corpo .texto-sobre-artistas p
{ font-size:3vw; line-height:3vw;}
#corpo .texto-sobre-artistas img{width:43vw; margin-bottom:5%;}
#corpo .texto-sobre-artistas .texto-complemento p{font-size:2vw; width:80%; margin:0 auto;}
#corpo .texto-sobre-artistas button{
    margin:8% auto;
    display: block;
     width: 18%;
     margin-top:6%;
     border: none;
     outline: none;
     border: 1px solid #111111;
     padding: 2.5% 0%;
     border-radius:999px;
     background:transparent;
     font-size:2vw;
}


/* ----Responsividade media query---- */

@media screen and (min-width: 1601px){
  #corpo .banner_servico .servico .texto-servico h2{
  font-size:51px;
}
#corpo .banner_servico .servico .texto-servico h3{
    font-size: 37px;
}
#corpo .banner_servico .servico .texto-servico p{
  font-size:34px;
}
#corpo .banner_servico .servico .texto-servico button,
 {
    width: 222px;
       padding: 5% 0%;
           font-size: 27px;

}
#corpo .texto-sobre-artistas button{
  width: 222px;
        padding: 2% 0%;
        font-size: 27px;
    }
}


@media screen and (max-width: 1100px) {
/* CENTRALIZANDO ELEMENTOS */
#corpo .banner_servico .servico{
  display:flex;
  flex-direction:column;
}
/* CRIANDO BEFORE PADRÃO */
#corpo .lp_01::before {
    padding-top: 218.0625%;
}
#corpo .lp_02::before {
    padding-top: 218.0625%;
}
/* MUDANDO OS ELEMENTOS DE  POSIÇÃO */
#corpo .lp_02 .servico .texto-servico{
  order:2;
          text-align: center;
        width: 100%;
        margin: 0 auto;
}
#corpo .lp_02 .servico .texto-servico picture{
  order:1
}
#corpo .banner_servico picture {
  margin:0 auto;
}
#corpo .texto-servico {text-align:center; margin:0 auto;}

/* CONFIGURAÇÃO PARA TODOS OS TEXTOS */
#corpo .banner_servico .servico .orientacao h2,
#corpo .banner_servico .servico .seguro h2,
 #corpo .banner_servico .servico .garantia h2,
 #corpo .banner_servico .servico .suporte h2,
 #corpo .banner_servico .servico .casa h2
{
    width: 100%;
    font-size:4.9vw;
}
#corpo .banner_servico .servico .texto-servico h3,
#corpo .banner_servico .servico .texto-servico p
{font-size:3.6vw;}
/* CONFIGURAÇÃO DOS BOTÕES */
#corpo .banner_servico .servico .texto-servico button
 {
    width: 63%;
    font-size:4vw;
     padding: 3.4% 0%;  

}
#corpo .texto-sobre-artistas button{
  width: 60%;
  font-size:4vw;
        
    }
/* SEÇÃO DO TOP */
#corpo .texto-topo img{ width:50%; }
#corpo .texto-topo P{font-size:4.9vw; margin: 6% auto 10%; width: 67%;}
#corpo .text-fast-top p{
  width:90%;
 font-size:3.6vw;
}
#corpo .text-fast-top h3{font-size:3.6vw; margin-bottom: 9%;}


#corpo .banner_servico .servico .texto-servico button {margin:0 auto; font-size:4vw;}
#corpo .text-fast-top .texto-chamada-topo {
  margin-top: 5%;
}
.titulo-section-servicos h3{font-size:3.6vw; margin-bottom:10%;}
hr:nth-of-type(1){
  margin: -14% 0 14%;
}
hr:nth-of-type(2){
  margin: -2% 0 14%;
}
hr:nth-of-type(3){
  margin: 15% 0 12%;
}
hr:nth-of-type(4){
  margin: 12% 0 13%;
}
hr:nth-of-type(5){
  margin: 16% 0 14%;
}
/* SEÇAO DE ORIENTAÇÃO */
#corpo .banner_servico .servico .orientacao h3{
  margin-bottom:8%;
}
#corpo .banner_servico .servico .orientacao button{margin-top:13% }
#corpo .banner_servico .servico .orientacao hr{margin:0%}
/* SEÇAO DE SEGURO */
#corpo .banner_servico .servico .seguro h3{margin-bottom:9%}
#corpo .banner_servico .servico .seguro button{margin-top: -8%}
/* SEÇAO DE GARATIA ESTENDIDA */
#corpo .banner_servico .servico .garantia h3{margin-bottom:9%;}
#corpo .banner_servico .servico .garantia button{margin-top:12% }
/* SEÇAO SUPORTE TECNICO*/
#corpo .banner_servico .servico .suporte h3{margin-bottom:8}
#corpo .banner_servico .servico .suporte button{margin-top:-10% }
/* SEÇAO CASA INTELIGENTE*/
#corpo .banner_servico .servico .casa h3{margin:10% auto 14%}
#corpo .banner_servico .servico .casa button{margin-top:25% }
/* SEÇÃO DO GRUPO DE ARTISTAS */
#corpo .grupo-artista::before {
    padding-top: 59.0625%;
}
#corpo .texto-sobre-artistas .texto-complemento p{ width:95%; font-size:3.6vw;line-height:5.3vw}
#corpo .texto-sobre-artistas h3,
#corpo .texto-sobre-artistas p
{ font-size:4.5vw;}
#corpo .texto-sobre-artistas button{
 margin: 10% auto 16%;
}

}




